@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin text {
  text-decoration: none;
}
@mixin flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flow {
  flex-flow: row wrap;
}
@mixin befor {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url('../img/chevron.svg');
}