.vechtbl__path{
  font-family: Open Sans;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9; 
  margin-bottom: 8px;
}
.vechtbl__path span{
  color: $text-bold;  

}
.vechtbl__title{
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: $text-bold;  
}
.vechtbl__item{
  font-family: Open Sans;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;  
}
.vechtbl__titles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.vechtbl__list{
  display: flex;
  align-items: center;
}
.vechtbl__btns{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #A9A9A9; 
}
.vegetables--btn-mar{
  margin-left: 41px;
  margin-right: 60px;
}
.vechtbl--pro{
  position: relative;
}
.vechtbl--pro::before{
  content: "117";
  position: absolute;
  background: #F4F8EC;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  left: -39px;
  line-height: 18px;
  color: $green;
  padding: 0 8px;
  
}
.vechtbl--lst{
  position: relative;
}
.vechtbl--grid{
  position: relative;
}

.vechtbl--grid::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -12px;
  top: 0px;
  right: 0;
  background-image: url('../../img/grid.svg');
}
.vechtbl__form{
  display: flex;
  flex-flow: row wrap;
}
.vechtbl__radios{
  height: 42px;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  background-color: $card-bg;
  position: relative;
  border: 1px solid #D1D1D1;
  margin-bottom: 16px;
}
.vechtbl__radios:not(:last-child){
  margin-right: 16px;
}
.xero-select{
  position: absolute;
}
.vechtbl__check,.vechtbl__radio{
  margin-right: 11px;
}
.vechtbl__lable{
  margin-right: 27px;
}
.vechtbl__link{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $text-bold;  
  margin-left: 48px;
  margin-right: 12px;
  display: block;
}
.vechtbl__link::before{
  content: "";
  height: 20px;
  width: 1px;
  left: -33px;
  top: 5px;
  position: absolute;
  background-color: #D1D1D1;
}
.xero-select__item{
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}
.vechtbl__lable-check{
  display: flex;
  align-items: center;
  margin-right: 70px;
  position: relative;
}




.vechtbl__radio{
//  opacity: 0;
 position: relative;
  
}
.vechtbl__radio::before{
  content: "";
  width: 24px;
  height: 24px;
  top: -5px;
  left: -7px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #D1D1D1;
  background-color: $card-bg;
}
.vechtbl__radio::after{
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: $card-bg;
}
.vechtbl__radio:checked::before{
  background-color: $text-bold;
}
.vechtbl__span{
  width: 24px;
  height: 24px;
  left: -8px;
  cursor: pointer;
  background-color: $card-bg;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  border: 1px solid #D1D1D1;
}
.bx-check{
  color: #fff;
  opacity: 0;
  font-size: 20px;
}
.vechtbl__check:checked + .vechtbl__span{
  background-color: $green;
}
.vechtbl__check:checked + .vechtbl__span .bx-check{
  opacity: 1;
}
.checkbox--num::after{
  content: "12";
  height: 18px;
  right: -40px;
  top: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $text-bold;  
  position: absolute;
  padding: 0 8px;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
}
.checkbox-nbm::after{
  content: "Nbm";
  height: 18px;
  right: -56px;
  top: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $text-bold;  
  position: absolute;
  padding: 0 8px;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
}
.vechtbl__tag{
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9; 
  margin-left: 12px; 
}
.vechtbl__tags{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 6px;
}
.vechtbl__tags span{
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $green;
  padding-left: 8px;
  padding-right: 24px;
  border-radius: 12px;
  background-color: #F4F8EC;
  margin-left: 12px;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
}
.vechtbl__tags span::after{
  content: "";
  width: 12px;
  height: 12px;
  right: 6px;
  top: 3px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../../img/x.svg');
}
@media screen and (max-width:681px){
  .vechtbl__titles{
    flex-direction: column;
  }
}