.hero__card {
  background-repeat: no-repeat;
  background-image: url('../../img/banner.svg');
  box-sizing: 729px;
  border-radius: 12px;
  padding: 48px 32px;
}
.hero__container{
  padding: 64px 0;
}

.hero__text{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $green; 
  margin-bottom: 8px; 
}
.hero__title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: $text-bold;
  margin-bottom: 94px;
}
.card--btn{
  margin-top: 0;
  background-color: transparent;
  border: 2px solid $green;
  border-radius: 12px;
  &:hover{
    background-color: $green;
  }
}
.hero__container{
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width:1280px) {
  
  .hero__elements{
    max-width: 100%;
    margin-bottom: 32px;
  }
  .hero__item:not(:last-child){
    margin-right: 12px;
  }
  
}
@include respon(991px){
  .hero__content-el{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .hero__list{
    display: flex;
  }
  .hero__btn{
    margin-top: 0;
  }
}
@media screen and (max-width:888px) {
  .hero__container{
    padding-top: 0;
  }
}
@media screen and (max-width:803px) {
  .hero__content-el{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__list{
    margin-bottom: 12px;
  }
  .hero__cards:not(:last-child){
    margin-bottom: 32px;
  }
  
}
@media screen and (max-width:465px) {
  .hero__list{
    flex-direction: column;
    text-align: center;
  }
}
#products{
  padding-bottom: 64px;
}
.product__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen  and (max-width:1199px){
  #products{
    padding-top: 0;
    padding-bottom: 0;
  }
   
}
#product{
  padding-top: 64px;
  padding-bottom: 64px;  
}
#costmers{
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 90px;
  border-top: 1px solid #F9F9F9;  
  border-bottom: 1px solid #F9F9F9; 
}
.costmers__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px
}
.costmers__btn{
 @include right;
}
.costmers--title{
  margin-bottom: 0;
}

.costmers__item{
  border: 1px solid #F1F1F1;
  border-radius: 12px;
  max-width: 369px;
  position: relative;
  padding: 24px 32px 40px 32px;

  &::after{
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    margin-left: -24px;
    bottom: -24px;
    background-repeat: no-repeat;
    background-image: url('../../img/costmr.png');
  }
}
.costmers__text{
  @include slider-text;
  margin-bottom: 24px;
}
.costmers__name{
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #A9A9A9;  
  display: block;
}
.costmers__item{
  margin-bottom: 35px;
}
.costmers__row .slick-list {
  overflow: hidden;
}
.costmers__row .slick-track{
  display: flex;
  position: relative;
}
.costmers__btn{
  text-decoration: none;
}
.costmers__item{
  margin-left: 16px;
  margin-right: 16px;
}
.costmers__all{
  position: relative;
}
.costmers__left{
  position: absolute;
  height: 98%;
  left: 0;
  width: 88px;
  bottom: -4%;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
  z-index: 1;
}
.costmers__right{
  position: absolute;
  height: 98%;
  right: 0;
  width: 88px;
  bottom: -4%;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
  z-index: 1;
  transform: rotate(180deg);
}
.slick-arrow{
  font-size: 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.slick-next{
  width: 32px;
  height: 48px;
  background: $text-bold;
  box-shadow: 0px 1px 2px #00000040;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  top:48%;
  left: 0;

  &::before{
    content: "";
    width: 20px;
    height: 20px;
    top: 15px;
    position: absolute;
    left: 7px;
    background-repeat: no-repeat;
    background-image: url('../../img/btnl.svg');
  }
}
.slick-prev{
  width: 32px;
  height: 48px;
  background: $text-bold;
  box-shadow: 0px 1px 2px #00000040;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  top:48%;
  right: 0;

  &::before{
    content: "";
    width: 20px;
    height: 20px;
    top: 15px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-image: url('../../img/btnr.svg');
  }
}

#head-line{
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (max-width:992px) {
  .products__item{
    margin-bottom: 32px;
  }
  .head-line--el{
    max-width: 336px;
    margin: 0 auto;
  }
}
.costmers__btn{
  margin-right: 10px;
  cursor: pointer;
}
@media screen and (max-width:768px) {
  .head-line__row{
    justify-content: center;
  }
}
#blog{
  padding-top: 64px;
  padding-bottom: 64px;

}

@import "blog";
@import "footer";
